<!DOCTYPE html>
<html lang="en" xml:lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Track Your Seed</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../static/css/track_seed_styles.min.css">
</head>

<body style="background: url(&quot;../static/img/photo-1557234195-bd9f290f0e4d.jpg&quot;) center / cover no-repeat;backdrop-filter: blur(5px);height: 100vh;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: rgba(0,0,0,0);">
        <div class="container"><a class="navbar-brand" href="{{ url_for('home') }}" style="color: #ffffff;">ORANGE</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}" style="color: #ffffff;">HOME</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('missions') }}" style="color: #ffffff;">MISSIONS</a></li>
                    <li class="nav-item"><a class="nav-link active" style="color: #ffffff;">TRACK SEED</a></li>
                    {% if login_type == "farmer" %}
                    {% else %}
                        {% if login_type == "spa" %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('spa_create') }}" style="color: #ffffff;">HANDLE SEED</a></li>
                        {% else %}
                            {% if login_type == "spp" %}
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('spp_update') }}" style="color: #ffffff;">HANDLE SEED</a></li>
                            {% else %}
                                {% if login_type == "sca" %}
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('sca_update') }}" style="color: #ffffff;">HANDLE SEED</a></li>
                                {% else %}
                                    {% if login_type == "stl" %}
                                    <li class="nav-item"><a class="nav-link" href="{{ url_for('stl_update') }}" style="color: #ffffff;">HANDLE SEED</a></li>
                                    {% else %}
                                        {% if login_type == "distributor" %}
                                        <li class="nav-item"><a class="nav-link" href="{{ url_for('distributor_update') }}" style="color: #ffffff;">HANDLE SEED</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('sign_out') }}" style="color: #ffffff;">SIGN OUT</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="team-clean" style="background: rgba(0,0,0,0);margin-top: 80px;">
        <div class="container">
            <div class="intro"></div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item" style="background: #ffffff;padding: 45px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-plant" style="border-color: rgb(241,82,13);color: rgb(41,135,26);width: 200px;height: 200px;">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
  <path d="M7 15h10v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2v-4z"></path>
  <path d="M12 9a6 6 0 0 0 -6 -6h-3v2a6 6 0 0 0 6 6h3"></path>
  <path d="M12 11a6 6 0 0 1 6 -6h3v1a6 6 0 0 1 -6 6h-3"></path>
  <line x1="12" y1="15" x2="12" y2="9"></line>
</svg>
                    <h3 class="name">Track Your Seed</h3>
                    <p class="title" style="margin-bottom: 5px;">Enter Lot number</p>
                    <form method="post"><p class="description" style="margin-top: 5px;"><input name="lotNumber" type="text" value="APR19-33-028-117(2)"></p><button class="btn btn-primary btn-block" type="submit" style="background: rgba(38,159,86,0.94);width: 50%;margin-left: 25%;">Track!</button></div></form>
                <div class="col" style="background: #ffffff;padding-top: 15px;">
                    <div class="table-responsive" style="overflow-y: scroll;height: 70vh;">
                    {% if data %}
                        <table class="table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>Crop</strong></td>
                                    <td>{{ data["crop"] }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Variety</strong></td>
                                    <td>{{ data["variety"] }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Certification Status</strong></td>
                                    <td>{% if data.samplePassed is not defined %} Pending {% else %} Completed {% endif %}</td>
                                </tr>
                                <tr>
                                    <td><strong>Certification Result</strong></td>
                                    <td>{% if data.samplePassed is not defined %} - {% else %} {{ data["samplePassed"] }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <td><strong>Certification Number</strong></td>
                                    <td>{% if data.samplePassed is not defined %} - {% else %} {{ data["certificationNumber"] }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <td><strong>Certificate Date</strong></td>
                                    <td>{% if data.samplePassed is not defined %} - {% else %} {{ data["certificateDate"] }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <td><strong>Certificate Validity</strong></td>
                                    <td>{% if data.samplePassed is not defined %} - {% else %} {{ data["certificateValidityInMonth"] }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <td><strong>Tag Series</strong></td>
                                    <td>{% if data.tagSeries is not defined %} - {% else %} {{ data["tagSeries"] }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <td><strong>Tag Issued From Range</strong></td>
                                    <td>{% if data.tagIssuedRangeFrom is not defined %} - {% else %} {{ data["tagIssuedRangeFrom"] }} {% endif %}<br></td>
                                </tr>
                                <tr>
                                    <td><strong>Tag Issued To Range</strong><br></td>
                                    <td>{% if data.tagIssuedRangeTo is not defined %} - {% else %} {{ data["tagIssuedRangeTo"] }} {% endif %}<br></td>
                                </tr>
                                <tr>
                                    <td><strong>SPA</strong></td>
                                    <td>{% if data.spaName is not defined %} - {% else %} {{ data["spaName"] }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <td><strong>SPP</strong></td>
                                    <td>{% if data.sppName is not defined %} - {% else %} {{ data["sppName"] }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <td><strong>SCA</strong></td>
                                    <td>{% if data.scaName is not defined %} - {% else %} {{ data["scaName"] }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <td><strong>STL</strong></td>
                                    <td>{% if data.stlName is not defined %} - {% else %} {{ data["stlName"] }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <td><strong>Distributor</strong></td>
                                    <td>{% if data.sourceDistributor is not defined %} - {% else %} {{ data["sourceDistributor"] }} {% endif %}</td>
                                </tr>
                                <tr></tr>
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>
