<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>agency_registration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../static/css/styles.min.css">
</head>

<body style="background: url(&quot;../static/img/photo-1557234195-bd9f290f0e4d.jpg&quot;) center / cover no-repeat;backdrop-filter: blur(5px);height: 100vh;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: rgba(0,0,0,0);">
        <div class="container"><a class="navbar-brand" href="#" style="color: #ffffff;">ORANGE</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="#" style="color: #ffffff;">HOME</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: #ffffff;">MISSIONS</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: #ffffff;">TRACK SEED</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: #ffffff;">LOGIN</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="login-clean" style="background: rgba(0,0,0,0);">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"></div>
            <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Agency Name" required="required"></div>
            <div class="form-group"><input class="form-control" type="email" name="agency_mail" placeholder="Email" required="required"></div>
            <div class="form-group"><select class="form-control"><optgroup label="Agency Type"><option value="SPP" selected>SPP</option><option value="SPA" selected>SPA</option><option value="SCA">SCA</option><option value="STL">STL</option><option value="WAREHOUSE">STORE HOUSE</option></optgroup></select></div>
            <div class="form-group"><input class="form-control" type="password" name="authorization_id" placeholder="Authorization ID" required="required"></div>
            <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username" required="required"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" required="required"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background: rgba(38,159,86,0.94);">Register</button></div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>
