<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>storehouse_update</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../static/css/styles.min.css">
</head>

<body style="background: url(&quot;../static/img/photo-1557234195-bd9f290f0e4d.jpg&quot;) center / cover repeat-y;backdrop-filter: blur(5px);height: 100vh;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: rgba(0,0,0,0);">
        <div class="container"><a class="navbar-brand" href="#" style="color: #ffffff;">ORANGE</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="#" style="color: #ffffff;">HOME</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: #ffffff;">MISSIONS</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: #ffffff;">TRACK SEED</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: #ffffff;">HANDLE SEED</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link active" href="#" style="color: #ffffff;">SIGN OUT</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="border rounded newsletter-subscribe" style="margin-left: 60px;margin-right: 60px;margin-top: 50px;margin-bottom: 50px;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="font-family: Roboto, sans-serif;">Enter Seed Block Details</h2>
            </div>
            <form class="form-inline" method="post">
                <div class="table-responsive table-borderless">
                    <table class="table table-bordered">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 250px;height: 45px;text-align: center;padding: 20px;"><strong>Lot Number</strong></td>
                                <td style="width: 250px;height: 45px;"><input class="form-control" type="text" value="APR19-33-028-117(2)" name="lotNumber"></td>
                                <td style="width: 250px;height: 45px;text-align: center;padding: 0px;padding-top: 20px;"><strong>Source Store House</strong><br></td>
                                <td style="width: 250px;height: 45px;" name="owner" value="OSSC"><input class="form-control" type="text" value="KHURDHA" name="sourceStoreHouse"></td>
                            </tr>
                            <tr>
                                <td style="width: 250px;height: 45px;text-align: center;padding: 20px;"><strong>Store House Location</strong><br></td>
                                <td style="width: 250px;height: 45px;"><input class="form-control" type="text" name="storeHouseLocation" value="Dharwad"></td>
                                <td style="width: 250px;height: 45px;text-align: center;padding: 0px;padding-top: 20px;"><strong>Humidity of Storage</strong><br></td>
                                <td style="width: 250px;height: 45px;" name="owner" value="OSSC"><input class="form-control" type="text" name="humidityOfStorage" value="29%"></td>
                            </tr>
                            <tr>
                                <td style="width: 250px;height: 45px;text-align: center;padding: 20px;"><strong>Temperature of Storage</strong></td>
                                <td style="width: 250px;height: 45px;"><input class="form-control" type="text" name="temperatureOfStorage" value="25C"></td>
                                <td style="width: 250px;height: 45px;text-align: center;padding: 0px;padding-top: 20px;"><br></td>
                                <td style="width: 250px;height: 45px;"><input class="form-control" type="hidden" name="storageHouseName"></td>
                            </tr>
                            <tr>
                                <td style="width: 250px;height: 45px;text-align: center;padding: 22px;" colspan="3"></td>
                                <td><button class="btn btn-primary btn-block" type="submit" style="background: rgba(38,159,86,0.94);width: 250px;">UPDATE seed block</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>
